<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

    <div>
        <hr style="color: orange;">
        <h1 style="text-align: center; color: orange;">Central de controle Caruso Shop!</h1>
        <hr style="color: orange;">
    </div>
    <div>
        <img src="/imgs/cs-banner.png" width="100%" height="75%">
    </div>



<%- include('partials/footer.ejs') %>